/resources/genome/
/resources/EST-SFS/
/snakemake/results/
/snakemake/scratch/
/reports/
/presentations/
/docs/_build/
.snakemake/
.snakemake_timestamp
/dist/
.DS_Store
.idea/
.ipynb_checkpoints/
__pycache__/
scratch/
out/
slurm/
.env
*.sqlite
.Rproj.user/
.Rhistory
.RData
.coverage
useful-commands.txt
/resources/polydfe/postprocessing/script.R
/resources/polydfe/bin/polyDFE-2.0-macOS-64-bit
