/resources/genome/
/resources/EST-SFS
/snakemake/results/
/snakemake/scratch/
.snakemake/
.snakemake_timestamp
/dist/
.DS_Store
.idea/
__pycache__/
scratch/
out/
slurm/
.env
*.sqlite
.Rproj.user/
.Rhistory
.RData
/reports/