// Parameters
// mu: mutation rate
// s_d: selection coefficient for deleterious mutations
// s_b: selection coefficient for beneficial mutations
// b: shape parameter for gamma distribution
// p_b: proportion of beneficial mutations
// r: recombination rate
// N: population size
// g: generation to stop simulation
// length: sequence length
// demography: demographic events ('constant', 'expansion', 'bottleneck')

initialize()
{
    //setSeed(23); // For reproducibility
    initializeSLiMModelType("WF"); // Wright-Fisher model
    initializeTreeSeq(); // tree sequence recording
    initializeMutationRate(mu); // mutation rate

    // gamma distribution for deleterious mutations
    initializeMutationType("m1", 0.5, "g", - 2 * s_d, b);

    // exponential distribution for beneficial mutations
    initializeMutationType("m2", 0.5, "e", 2 * s_b);

    // adjusting the proportion of deleterious and beneficial mutations
    initializeGenomicElementType("g1", c(m1, m2), c(1 - p_b, p_b));

    initializeGenomicElement(g1, 1, length); // sequence length
    initializeRecombinationRate(r); // recombination rate
}

1
early()
{
    sim.addSubpop("p1", N);

    if (demography == "expansion") {
        // population doubles 100 generation before stopping
        sim.schedule(g - 100, "early() { p1.setSubpopulationSize(2 * N); }");
    } else if (demography == "bottleneck") {
        // bottleneck to 10% of original size 200 generations before stopping
        sim.schedule(g - 200, "early() { p1.setSubpopulationSize(asInteger(N / 10)); }");
        // recover to original size 100 generations before stopping
        sim.schedule(g - 100, "early() { p1.setSubpopulationSize(N); }");
    }
}

1:100000000
late()
{
    // print status
    cat("\r" + paste("Progress:", (community.tick / g) * 100, "% (Generation ", community.tick, " of ", g, ")"));

    // noinspection all
    if (community.tick == g) {
        sim.treeSeqOutput(out);
        sim.simulationFinished();
    }
}
